<h1>Listing vista</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Body</th>
      <th>Reply</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="post">
   
      <tr>
        <td>Yo</td>
        <td> Hola</td>
        <td>1</td>
      </tr>

  </tbody>
</table>


